body{
    background-color:darkslategray;
}
header{
    background-color:coral;
    height: 100px;
    border-radius: 20px;
}
nav{
    
    float: right;
}
.logo{
    float: left;
    margin: left 50px;
    height: 100px;
    width: 80px;
}
button{
       float:right;
       height: 36px;
       width: 70px;
    } 
    
ul>li{
    display: inline-block;
    padding: 20px;    
     }
a:hover{
       color: black;
}
a{ 
    color:crimson;
    font-size:35px;
}

p{
    font-style:normal;
    font-size: 20px;
    color:black;
}
p:hover{
    color: crimson;
}

h2{
         color: black;
         font-size:20px;
}
h2:hover{
       color: crimson;
}
ol{
    float:right;
    font-size: 15px;
   } 
footer{
       text-align: center;
       padding-top:15px ;
       background-color:coral;
       color: black;
}